<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Student Management System</h1>
    <hr>
    <h2>Add new Student</h2>

    <form action="#" th:action="@{/saveStudent}" th:object="${student}" method="POST">
        <input type="text" th:field="*{firstName}" placeholder="Imie" class="form-control mb-4 col-4">

        <input type="text" th:field="*{lastName}" placeholder="Nazwisko" class="form-control mb-4 col-4">

        <input type="text" th:field="*{email}" placeholder="email" class="form-control mb-4 col-4">

        <input type="text" th:field="*{phone}" placeholder="Telefon" class="form-control mb-4 col-4">

        <input type="text" th:field="*{birthDate}" placeholder="Data urodzenia" class="form-control mb-4 col-4">

        <input type="text" th:field="*{studyStartDate}" placeholder="Data rozpoczęcia nauki" class="form-control mb-4 col-4">

        <input type="text" th:field="*{parentId}" placeholder="Id Rodzica" class="form-control mb-4 col-4">

        <!--        <input type="text" th:field="*{classId}" placeholder="Klasa" class="form-control mb-4 col-4">-->
        <select class="form-control mb-4 col-4" th:field="*{classId}">
            <option value="0">wybierz klasę</option>
            <option value="1">pierwsza klasa</option>
            <option value="2">druga klasa</option>
            <option value="3">trzecia klasa</option>
            <option value="4">czwarta pozycja</option>
        </select>

        <button type="submit" class="btn btn-info col-2">Save Student</button>
    </form>

    <hr>

    <a th:href="@{/}">Back to index</a>
</div>
</body>

</html>