<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
<div class="container">
    <h1>Student Management System</h1>
    <hr>
    <h2>Add new Student</h2>




    <form action="#" th:action="@{/saveStudent}" th:object="${student}" method="POST">

        <input type="text" th:field="*{firstName}" placeholder="Imie" class="form-control mb-4 col-4" required pattern="[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ\s-]+">

        <input type="text" th:field="*{lastName}" placeholder="Nazwisko" class="form-control mb-4 col-4" required pattern="[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ\s-]+">

        <input type="email" th:field="*{email}" placeholder="email" class="form-control mb-4 col-4" required>

        <input type="number" th:field="*{phone}" placeholder="Telefon" class="form-control mb-4 col-4" pattern="[0-9]+" required>

<!--        <input type="text" th:field="*{birthDate}" placeholder="Data urodzenia" class="form-control mb-4 col-4" pattern="^((19|20)\d{2})-(0[1-9]|1[0-2])-(0[1-9]|1\d|2\d|3[01])$" required>-->

<!--        <input type="text" th:field="*{studyStartDate}" placeholder="Data rozpoczęcia nauki" class="form-control mb-4 col-4" pattern="^(?:\d{4}-\d{2}-\d{2}|(?!0{4})\d{1,4}(?:(?:(?:-0?-0?)|(?:-(?:1[0-2]|0?[1-9])-(?:0?[1-9]|1\d|2[0-8])))|(?:-0?[13-9]|1[0-2])-31))(?:T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d)?)(?:Z|(?:[-+]\d{2}(?::?\d{2})?)))?$" required>-->

        <input type="text" th:field="*{birthDate}" placeholder="Data urodzenia" class="form-control mb-4 col-4 datepicker">
        <input type="text" th:field="*{studyStartDate}" placeholder="Data rozpoczęcia nauki" class="form-control mb-4 col-4 datepicker">


<!--        <input type="text" th:field="*{firstName}" placeholder="Imie" class="form-control mb-4 col-4">-->
<!--        <input type="text" th:field="*{lastName}" placeholder="Nazwisko" class="form-control mb-4 col-4">-->
<!--        <input type="text" th:field="*{email}" placeholder="email" class="form-control mb-4 col-4">-->
<!--        <input type="text" th:field="*{phone}" placeholder="Telefon" class="form-control mb-4 col-4">-->
<!--        <input type="text" th:field="*{birthDate}" placeholder="Data urodzenia" class="form-control mb-4 col-4">-->
<!--        <input type="text" th:field="*{studyStartDate}" placeholder="Data rozpoczęcia nauki" class="form-control mb-4 col-4">-->
<!--        <input type="text"  th:field="*{parentId}"  class="form-control mb-4 col-4">-->

        <select class="form-control mb-4 col-4" th:field="*{parentId}" id="parentId">
            <option value="" selected>Wybierz Rodzica</option>
            <option th:each="parent : ${parents}" th:value="${parent.id}" th:text="${parent.firstName + ' ' + parent.lastName}"
                th:selected="${index == 0}"></option>
        </select>


        <select class="form-control mb-4 col-4" th:field="*{classId}" required>
            <option value="" selected>Wybierz klasę</option>
            <option value="1">Pierwsza klasa</option>
            <option value="2">Druga klasa</option>
            <option value="3">Trzecia klasa</option>
            <option value="4">Czwarta klasa</option>
        </select>

        <button type="submit" class="btn btn-info col-2">Save Student</button>
    </form>

    <hr>

    <a th:href="@{/}">Back to index</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        var currentDate = new Date();
        var currentYear = currentDate.getFullYear();
        var currentMonth = currentDate.getMonth();
        var currentDay = currentDate.getDate();

        $('.datepicker').datepicker({
            dateFormat: 'yy-mm-dd',
            changeYear: true,
            changeMonth: true,
            yearRange: '1900:' + currentYear,
            maxDate: new Date(currentYear, currentMonth, currentDay)
        });
    });
</script>
</body>

</html>