<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zarządzanie uczniami</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<center>
    <form method="post" action="/list/students/search">
        <input type="text" name="lastName" placeholder="Wyszukaj ucznia">
        <button type="submit">Wyszukaj</button>
    </form>
    <br>

    Filtruj wg klasy
    <form th:action="@{/list/students/filter}" method="post">
        <select name="classId" onchange="this.form.submit()">
            <option value="0">Filtruj wg klasy</option>
            <option value="1">Klasa 1</option>
            <option value="2">Klasa 2</option>
            <option value="3">Klasa 3</option>
            <option value="4">Klasa 4</option>
        </select>
        </form>
    <a href="/list/students">Kasuj filtr</a>

</center>
<div class="container my-2">
    <h1>Lista uczniów</h1>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Imię Ucznia</th>
            <th>Nazwisko Ucznia</th>
            <th>email Ucznia</th>
            <th>Telefon Ucznia</th>
            <th>Data urodzenia Ucznia</th>
            <th>Klasa</th>
            <th>Data rozpoczęcia nauki Ucznia</th>
            <th>Działania</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phone}"></td>
            <td th:text="${student.birthDate}"></td>
            <td th:text="${student.classId}"></td>
            <td th:text="${student.studyStartDate}"></td>
            <td>Pokaż, Edytuj </td>


        </tr>

        </tbody>
    </table>
</div>
</body>
</html>