<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Teachers List</title>
</head>
<body>
<h1>Teachers List</h1>
<table>
  <thead>
  <tr>
    <th>Teacher ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
  </thead>
  <tbody>
  <!-- Iterate over teachers and display their information -->
  <tr th:each="teacher : ${teachers}">
    <td th:text="${teacher.id}"></td>
    <td th:text="${teacher.firstName}"></td>
    <td th:text="${teacher.lastName}"></td>
    <td th:text="${teacher.email}"></td>
    <td th:text="${teacher.phone}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
