<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Teacher</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        .table-container {
            width: 30%;
            margin: 0 auto;
            text-align: center;
        }
    </style>

</head>
<body>

<div class="table-container">
    <table class="table">
        <tr>
            <td>
                <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Strona główna</a>
            </td>
            <td>
                <a th:href="@{/list/students}" class="btn btn-primary btn-sm mb-3">Uczniowie</a>
            </td>
            <!--            <td>-->
            <!--                <a th:href="@{/addparentform}" class="btn btn-primary btn-sm mb-3">dodaj studenta</a>-->
            <!--            </td>-->
            <td>
                <a href="/list/parents" class="btn btn-primary btn-sm mb-3">Rodzice</a>
            </td>
            <td>
                <a href="/list/classes" class="btn btn-primary btn-sm mb-3">Klasy</a>
            </td>
            <td>
                <a href="/list/teachers" class="btn btn-primary btn-sm mb-3">Nauczyciele</a>
            </td>
            <td>
                <a href="/list/subjects" class="btn btn-info btn-sm mb-3">Przedmioty</a>
            </td>

        </tr>
    </table>
</div>

<div class="container">
    <h1>Student Management System</h1>
    <hr>
    <h2>Edytuj Nauczyciela</h2>
<form th:action="@{/teacher/edit/{id}(id=${teacher.id})}" method="post">
    <input type="hidden" name="_method" value="put">
    <label>First Name: <input type="text" th:field="*{teacher.firstName}"></label><br>
    <label>Last Name: <input type="text" th:field="*{teacher.lastName}"></label><br>
    <label>Email: <input type="email" th:field="*{teacher.email}"></label><br>
    <label>Phone: <input type="text" th:field="*{teacher.phone}"></label><br>



    <input type="submit" class="btn btn-info col-2" value="Zapisz">
</form>

    <br>
    <br>

<table>
    <h2>Przypisane przedmioty:</h2>
    <tr>
        <th>Subject ID</th>
        <th>Subject Name</th>
        <th>Subject Description</th>
    </tr>
    <tr th:each="subject : ${teacher.subjects}">
        <td th:text="${subject.id}"></td>
        <td th:text="${subject.subjectName}"></td>
        <td th:text="${subject.subjectDescription}"></td>
    </tr>
</table>

    <button class="btn btn-info col-2" onclick="window.location.href='/notyet'">Edytuj przedmioty nauczyciela</button>
</div>
</body>
</html>
